/* istanbul ignore file */
@font-face {
  font-family: 'HeliosExt';
  font-weight: bold;
  font-style: normal;
  font-display: swap;
  src: url('@/public/fonts/HeliosExt-Bold.woff2') format('woff2');
}

@font-face {
  font-family: 'HeliosExt';
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  src: url('@/public/fonts/HeliosExt.woff2') format('woff2');
}
