import * as S from './styles'

export type {{pascalCase name}}Props = {
  heading?: string
} 

export const {{pascalCase name}}: React.FC<{{pascalCase name}}Props> = ({heading}) => {
  return (
    <S.Wrapper>
      <h1>{heading} || {{pascalCase name}}</h1>
    </S.Wrapper>
  )
}
