/* CSS Variables */ 
:root {
--surfie-green: #138580;
--woodland: #515127;
--daintree: #012629;
--fern-green: #487342;
--apple: #418031;
--wasabi: #708126;
--rose-bud-cherry: #930948;
--matisse: #185191;
}
      
/* SCSS/SASS Variables */
$surfie-green: #138580;
$woodland: #515127;
$daintree: #012629;
$fern-green: #487342;
$apple: #418031;
$wasabi: #708126;
$rose-bud-cherry: #930948;
$matisse: #185191;